<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.Patient.patientName}}">
  <ion-content class="padding">
      
      
    
    
   
      <h4> Patient Id  - {{chat.PatientID}}</h4>
       <h4> Patient Id  - {{chat.patientName}}</h4>
      <h4>Patient Name - {{chat.doctorName}}</h4>
       <h4> Patient Id  - {{chat.department}}</h4>
      <h4>Patient Name - {{chat.ppsNumber}}</h4>
      <h4>Patient Name - {{chat.heartRate}}</h4>
       <h4> Patient Id  - {{chat.temprature}}</h4>
      <h4>Patient Name - {{chat.drug}}</h4>
      <h4>Patient Name - {{chat.remarks}}</h4>
      
    <input id="textPatient" name="textPatient" type="text" ng-model="patientName" >
      
    <button id="btnSaveRecords" ng-click="SaveRecords()">Save Records</button>
    
          
        

  </ion-content>
         
</ion-view>

 
       
