<ion-view view-title="Patients - Records" >
 <ion-nav-bar class="bar-positive"/>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.Patient}}">
          
        <h3> Patient Id  - {{chat.Patient.PatientID}}</h3>
        <h3>Patient Name - {{chat.Patient.patientName}}</h3>
         <h3>Doctor Name - {{chat.Patient.doctorName}}</h3>
          
        <i class="icon ion-chevron-right icon-accessory"></i>

     
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
      