<ion-view  view-title="Hospital Records">
    
     <ion-nav-bar class="bar-positive"/>
    
    
  <ion-content class="padding">
       <h3>Welcome to Hospital Records</h3>
       
      <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="details.username">  
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="details.password">          
          </label>  
          <br/>
            <button class="button button-positive" ng-click="login()" >
                  Log In
             </button>  
          <p>{{response}}</p>
        </div>
      
      
      
      
      
   
    
      
  </ion-content>
</ion-view>
